<header class="navbar">
  <div class="navbar-inner">
    <div class="brand">
      <a href="{{ site.baseurl }}/" class="logo-link">
        <img src="{{ site.baseurl }}/assets/images/logo_icon.png" alt="Neo Titanium logo" class="logo-img">
      </a>
      <span class="logo-text">Neo TITANIUM GLOBAL ENERGY</span>
    </div>

    <nav>
      <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/services/">Our Services</a></li>
        <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}/partners/">Tech Partners</a></li>
        <li><a href="{{ site.baseurl }}/team/">Team</a></li>
        <li><a href="{{ site.baseurl }}/contact-us/">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
