<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/services.css">
  </head>
  <body>
    <div class="hero">
      <img src="{{ site.baseurl }}/assets/images/main-top-half.jpg" alt="Hero image" class="hero-img">
      {% include header.html %}
    </div>

    <main class="page-content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>